[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
sqlite3 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
